{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous !{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
 <div class="container">
    <h1 class="h3 mb-3 mt-3 font-weight-normal">Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Votre mot de passe'
        }) }}

 <div class="form-group">
                <div class="form-check">
                    {{ form_row(registrationForm.agreeTerms, {
                        label: false,
                        attr: {'class': 'form-check-input'}
                    }) }}
                    <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">
                        J'accepte les <a href="{{ path('app_conditions_generales') }}" target="_blank">conditions générales d'utilisation</a>.
                    </label>
                </div>
            </div>

        {{ form_row(registrationForm.captcha) }}

        <button class="btn btn-lg btn-primary mt-3" type="submit" class="btn">Inscription</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
