{% extends 'base.html.twig' %}

{% block title %}Mes Origamis !{% endblock %}

{% block body %}
<h1 class="text-center mt-3">Mes Origamis</h1>

    {% for flashMessage in app.flashes('success') %}
    <div class="alert alert-dismissible alert-success">
        {{ flashMessage }}
         <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{% endfor %} 


<div class="container-xl bg-light p-5">
    {% if Origamis|length > 0 %}
        {% for origami in Origamis %}
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
                <div class="col-2 movie__poster">
                <!-- Boucle sur les images de l'origami -->
                {% for picture in origami.pictures %}
                    {% if picture starts with 'http' %}
                        <!-- Si c'est une URL absolue -->
                        <img src="{{ picture }}" class="img-fluid me-2" alt="{{ origami.name }}">
                    {% else %}
                        <!-- Sinon, on suppose que c'est une image locale dans le dossier uploads/origamis -->
                        <a href="{{ path('app_show_origami_picture', {id: origami.id}) }}">
                            <img src="{{ asset('uploads/origamis/' ~ picture) }}" class="img-fluid me-2" alt="{{ origami.name }}">
                        </a>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="col-8 p-4 d-flex flex-column position-static">
                    <h3 class="mb-1">{{ origami.name }}</h3>
                    <div class="mb-1 mt-2">{{ origami.description }}</div>
                    <a href="{{ path('app_show_origami', {id: origami.id}) }}" class="mt-4 text-danger align-self-start">Voir plus</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center">Vous n'avez aucun origami.</p>
    {% endif %}
    <div class="text-center mt-4">
        <a href="{{ path('app_new_origami') }}" class="btn btn-success btn-lg">Ajouter un Origami</a>
    </div>
</div>
{% endblock %}
