{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur {{ user.username }}{% endblock %}

{% block body %}
    <h1 class="mt-3">Modifier l'utilisateur {{ user.username }}</h1>
{% for flashMessage in app.flashes('danger') %}
    <div class="alert alert-dismissible alert-danger">
        {{ flashMessage }}
         <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{% endfor %}   
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

{% endblock %}
